* {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    color      : #00BEFF;
    font-family: Raleway , sans-serif;
}

body {
    justify-content: center;
    align-items    : center;
    background     : rgb(198, 218, 245);
}

h1 {
    font-size: 72px;
    font-weight: 300;
    background: #00FFF9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 16%;
    padding: 10px;
}

button {
    border-radius: 5px;
    border: 2px solid black;
    font-size: medium;
    transition: 0.25s;
    color: rgb(255, 255, 255);
    border:2px solid black;
    padding: 13px;
    background-color: black;
}

button:hover {
    background-color:rgb(255, 255, 255);
    padding: 9px;
    color: rgb(0, 0, 0);
    border: 2px solid white;
}

button:active {
    background-color: rgb(0, 183, 255);
    transition: none;
    border: 2px solid rgb(0, 183, 255);
}
